.container  {
    background-color: orange;
    width: 80%;
    padding: 10px;
    
    margin: auto;

    display: flex;
	justify-content: center;
	align-items: center;
    height: 100vh;
   
}

img {
    width: 200px;
    height: 200px;
    margin: 20px;
}

